* {
    font-family: Arial, Helvetica, sans-serif;
}

body {
    padding: 0px;
    margin: 0px;
}


.topo{
    margin: 0px;
    height: 160px;
    background: linear-gradient(to right, red, rgb(169, 105, 105), rgb(255, 24, 24));
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    border-bottom: 5px solid black;
    gap: 17px;
}

img {
    height: 100px;
}

input {
    height: 30px;
    width: 200px;
    text-align: center;
    border-radius: 4px;
    font-weight: bolder;
}

button {
    height: 37px;
    width: 94px;
    border: 2px solid;
    border-radius: 10px;
    font-weight: bolder;
    background: linear-gradient(to left, red, rgb(201, 38, 38))
}

/*cartoes*/

.cartao_planta {
    margin: 20px;
    border: 2px solid gray;
    border-radius: 5px;
    width: 200px;
    height: 300px;
    box-shadow: 0px 1px 20px gray;
}

.cartao_agua {
    margin: 20px;
    border: 2px solid gray;
    border-radius: 5px;
    width: 200px;
    height: 300px;
    box-shadow: 0px 1px 20px gray;
}

.cartao_fogo {
    margin: 20px;
    border: 2px solid gray;
    border-radius: 5px;
    width: 200px;
    height: 300px;
    box-shadow: 0px 1px 20px gray;
}

.pokemon {
    text-align: center;
    font-size: 15px;

}

.pokemon img {
    height: 150px;
}

.pokemon_card {
    display: flex;
     
}

/*hovers*/

button:hover {
    color: white;
    background: color(srgb rgb(0, 0, 0) rgb(0, 0, 0) rgb(0, 0, 0));

}

.cartao_fogo:hover {
    background: linear-gradient(to top, orange, red);
}

.cartao_agua:hover {
    background: linear-gradient(to top, rgb(64, 0, 255), rgb(0, 255, 229));
}

.cartao_planta:hover {
    background: linear-gradient(to top, rgb(77, 199, 1), rgb(21, 255, 0));
}

