* {
    font-family: Arial, Helvetica, sans-serif;
}

body {
    padding: 0px;
    margin: 0px;
    background: linear-gradient(to right, rgb(255, 111, 28, 0.6), rgb(4, 205, 255, 0.6), rgb(102, 255, 0, 0.6));
}


.topo{
    height: 200px;
    background: linear-gradient(to right, red, rgb(169, 105, 105), rgb(255, 24, 24));
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    border-bottom: 44px solid rgb(0, 0, 0);
    gap: 17px;
    border-radius: 0px 0px 15px 15px;
}

img {
    height: 100px;
}

/*pesquisa*/


.pesquisa {
    display: flex;
    align-items: center;
    gap: 5px;
}

input {
    height: 35px;
    width: 200px;
    text-align: center;
    border-radius: 4px;
    font-weight: bolder;
}

.pesquisa button {
    height: 40px;
    width: 94px;
    border: 2px solid;
    border-radius: 10px;
    font-weight: bolder;
    background: linear-gradient(to left, red, rgb(201, 38, 38))
}

/*formas*/


.formas{     
    display: flex;
    justify-content: center;  
    gap: 30px;                
    margin: 40px 0;

}

.formas a{
     font-size: 30px;
     text-decoration: none;
     text-align: center;
     font-weight: bolder;
     background-color: rgb(241, 241, 241);
     padding: 30px;
     border: 2px solid black;
     border-radius: 7px;
     color: black;
     width: 150px;
     box-shadow: 1px 10px 20px rgb(0, 0, 0);
     
     
}

/*navegacao*/

.navegacao {
    display: flex;
    justify-content: center;
    width: 100%;
    margin-top: 38px;
}

.navegacao a{
    color: rgb(0, 0, 0);
    text-decoration: none;
    background-color: rgb(255, 255, 255);
    padding: 10px;
    
    border-radius: 7px;
    font-weight: bolder;
}



/*cartoes*/

.cartao_agua,.cartao_fogo,.cartao_planta {
    background: url(https://www.pngall.com/wp-content/uploads/4/Pokeball-PNG-Free-Download.png) white;
    background-position: center;
    background-size: 300px;
    background-repeat: no-repeat;
    box-shadow: 0px 1px 20px gray;
    margin: 20px;
    border: 2px solid gray;
    border-radius: 5px;
    width: 220px;
    height: 300px
}

.pokemon {
    text-align: center;
    font-size: 15px;
}

.pokemon img {
    height: 150px;
}

.pokemon_card {
    display: flex;
    flex-wrap: wrap;          
    justify-content: center;  
    gap: 20px;
    margin: 40px auto;
    max-width: 840px;
}

.geracao {
    display: flex;
    flex-direction: column;
    justify-content: start;
}

/*hovers*/

.pesquisa button:hover {
    transition: 0.3s;
    color: white;
    background: black;
}

.cartao_fogo:hover {
    box-shadow: 0px 10px 20px rgb(255, 102, 31);
    color: white;
    background: linear-gradient(to top, rgb(255, 166, 0), rgb(255, 0, 0, 0.6)), url(https://www.pngall.com/wp-content/uploads/4/Pokeball-PNG-Free-Download.png);
    background-position: center;
    background-size: 300px;
    background-repeat: no-repeat;
    transition: 0.3s;
}

.cartao_agua:hover {
    box-shadow: 0px 10px 20px rgb(129, 255, 238);
    color: white;
    background: linear-gradient(to top, rgb(64, 0, 255), rgb(0, 255, 229, 0.6)), url(https://www.pngall.com/wp-content/uploads/4/Pokeball-PNG-Free-Download.png);
    background-position: center;
    background-size: 300px;
    background-repeat: no-repeat;
    transition: 0.3s;
}

.cartao_planta:hover {
    box-shadow: 0px 10px 20px rgb(142, 250, 142);
    color: white;
    background: linear-gradient(to top, rgb(80, 207, 1), rgba(108, 248, 95, 0.6)), url(https://www.pngall.com/wp-content/uploads/4/Pokeball-PNG-Free-Download.png);
    background-position: center;
    background-size: 300px;
    background-repeat: no-repeat;
    transition: 0.3s;
}

.evolucao:hover {
    background: url(/IMG/pokebola.png) rgb(145, 145, 145);
    background-position: center;
    background-size: 100px;
    background-repeat: no-repeat;
    transition: 1s;
    color: aliceblue;
}

.shiny:hover {
    background: url(/IMG/shiny.png) rgb(145, 145, 145);
    background-position: center;
    background-size: 100px;
    background-repeat: no-repeat;
    transition: 1s;
    color: rgb(255, 255, 255);
}

.formas a:hover {
    background: url(/IMG/DNA.png) rgb(145, 145, 145);
    background-position: center;
    background-size: 200px;
    background-repeat: no-repeat;
    transition: 1s;
    color: aliceblue;
    width: 200px;

}

.variavel{
    background: url(https://www.pngall.com/wp-content/uploads/4/Pokeball-PNG-Free-Download.png) white;
    background-position: center;
    background-size: 300px;
    background-repeat: no-repeat;
    box-shadow: 0px 1px 20px gray;
    margin: 20px;
    border: 2px solid gray;
    border-radius: 5px;
    width: 220px;
    height: 300px
}

.v2:active {
  content: url(/IMG/Typhlosion\ v2.png);

}



/*footer*/
footer {
    border-radius: 9px 9px 0px 0px;
    border-top: solid 5px rgb(151, 151, 151);
    height: 100px;
    background-color: black;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}